<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div class="content" id="experiment-article-section-2-content">    
        <b>Capacitative Rectification for Half Wave Rectifier</b><br><br>
        <ol type="1">
            <li>Take a diode, and Load resistor of 1KOhms and capacitor of 102μF.</li>
            <li>Connect to AC Voltage Source of 50 Hz, 2 V</li>
            <li>Click on 'ON' button to make the circuit on.</li>
            <li>Click on 'Sine Wave' button to observe the input waveform.</li>
            <li>Click on 'Run Simulation' button to observe the filtered waveform.</li>
            <li>Observe the corresponding waveform.</li>
            <li>Channel 1 shows the input wave, Channel 2 shows the output wave and Dual shows both the input and output wave.</li>
        </ol> 
        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp8/image/prcd1.png" style="width:600px;height:400px">
            </p><br>
            Figure:1
        </div><br><br>
        <b>Capacitative Rectification for Full Wave Rectifier</b><br><br>
        <ol type="1">
            <li>Take 4 diodes, Load resistor of 1KOhms and capacitor of 102μF.</li>
            <li>Connect to AC Voltage Source of 50 Hz, 12 V. </li>
            <li>Click on 'ON' button to make the circuit on.</li>
            <li>Click on 'Sine Wave' button to observe the input waveform.</li>
            <li>Click on 'Run Simulation' button to observe the filtered waveform.</li>
            <li>Vary the amplitude using the controllers.</li>
            <li>Observe the corresponding waveform.</li>
            <li>Channel 1 shows the input wave, Channel 2 shows the output wave and Dual shows both the input and output wave.</li>
        </ol> 
        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp8/image/prcd2.png" style="width:600px;height:400px">
            </p><br>
            Figure:2
        </div><br><br>

        
          
                              
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>