<!-- footer tag -->
</div>
</section>


      </div>
<div class="blockquote-footer container-md col-7"  style="text-align: center; padding-top: 500px;" >
    Copyright © 2021 Aligarh Muslim University Aligarh, India. </p>
   </div>


<!-- loading animation -->
</div>
<div class="loader-wrapper">
  <span class="loader">
    <span class="loader-inner"></span>
  </span>
</div>

<script>
  $(window).on("load",function(){
  $(".loader-wrapper").fadeOut("slow");
  }); 
</script>

</body>
</html>