<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div class="content" id="experiment-article-section-2-content">

        <b> Experiment</b><br><br>
        <ol type="I">

            <li>Zener Diode - Line Regulation</li>
            <ol>
                <li>Set the Zener Voltage(V<sub>Z</sub>)</li>
                <li>Set the  Series Resistance (R<sub>S</sub>) value.</li>
                <li>Set the  Load Resistance (R<sub>L</sub>) value.</li>
                <li>Vary DC voltage.</li>
                <li>Voltmeter is placed parallel to load resistor and ammeter series with the series resistor.</li>
                <li>Choose appropriate DC voltage such that zener diode is 'on'.</li>
                <li>Now note the Voltmeter and Ammeter reading for various DC voltage.  </li>
                <li>Note the Load current(I<sub>L</sub>), zener current(I<sub>Z</sub>), Output voltage(V<sub>O</sub>)</li>
                <li>Calculate the voltage regulation.</li>
               
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp10/image/znrli_pr.png" style="width:400px;height:300px">
                    </p><br>
                    Figure:1
                </div><br><br>
            </ol>
            <li>Zener Diode - Load Regulation</li>
            <ol>
                <li>Set DC voltage.</li>
                <li>Set the  Series Resistance (R<sub>S</sub>) value.</li>
                <li>1W D0-41 Glass Zener Diode 1N4740A, Zener voltage is 10 V.</li>
                <li>Vary the Load Resistance (R<sub>L</sub>).</li>
                <li>Voltmeter is placed parallel to load resistor and ammeter series with the series resistor.</li>
                <li>Choose Load Resistance in such a manner, such that the Zener diode is 'on'.</li>
                <li>Now note the Voltmeter and Ammeter reading for various Load Resistance.  </li>
                <li>Increase the load resistance (R<sub>L</sub>).</li>
                <li>Note the Load current(I<sub>L</sub>), zener current(I<sub>Z</sub>), Output voltage(V<sub>O</sub>)</li>
                <li>Calculate the voltage regulation.</li>
             
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp10/image/znrlo_pr.png" style="width:400px;height:300px">
                    </p><br>
                    Figure:2
                </div><br><br>
            </ol>
            <li>Zener Characteristics</li>
            <ol>
                 <li>Select the  diode</li>
        <li>Set the rheostat R<sub>h</sub>=1 Ω</li>
        <li>By adjusting the rheostat, voltmeter reading is increased from 0 and in each time note the corresponding reading in milliammeter.</li>                       
        <li>Take the readings and note Voltmeter reading across Zener diode and Ammeter reading.</li>
        <li>Plot the V-I graph  and observe the change.</li>
         <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp10/image/zener_ch.png" style="width:400px;height:300px">
                    </p><br>
                    Figure:3
                </div><br><br>
            </ol>
                
        </ol>
       
                               
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>





















    