<!DOCTYPE html>
<html>
    <!-- some scripts -->
    <title>AMU-VLABS</title>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- google font -->

        <!-- cdn -->
        <!-- <link rel="stylesheet" href="./bootstrap-5.0.0-beta1-dist/css/bootstrap.css"> -->
        <!-- <script src="./bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script> -->
        <script src="jquery-3.5.1.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        
        <link href="app.css" rel="stylesheet">
        <!-- <script  type="text/javascript" src="actions.js"></script> -->
    </head>


  <body>  
        <div class="container-fluid content col-8 ">
            <img align="right" src="./images/AMU_logo.png" alt="">         
            <a href="https://www.amu.ac.in"> </a> 
                <!-- nav bar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                      <img src="./images/AMU.png" alt=""/>
                    </a>
                    <button class="navbar-toggler" color="white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span style="color:rgb(250, 246, 246)" class="navbar-toggler-icon">
                      </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav" style="font-size:20px;">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#"> <b>HOME</b></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./experiments/experiment.html"> <b>LABS </b></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <div class="container pb-lg-1">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">HOME</li>
                      <!--<li class="breadcrumb-item"><a href="./ELECTRONICS/experiment.html">Labs</a></li> -->
                    </ol>
                  </nav>
            </div> 
        </div>
                <!-- ------------------------------------------------ -->
              <div class="container mt-lg-4" style="background-color: rgb(165, 47, 53); font-size: large; color:white; font-family: 'Times New Roman', Times, serif;" >
              <p style="font-size: 20px;" class="sliding">
                <marquee behavior="scroll" direction="left" scrollamount="2">
                  Welcome to Virtual-Lab Platform By AMU. </marquee>
              </p>
              </div>
              <div class="container mt-lg-3" style="line-height: 1.6; font-size: 17.5px;">
                  <div  class="d-inline-flex" style="glyph-orientation-vertical: inherit;">
                    Lorem ipsum dolorsit amet</div>
                    consectetur adipisicing elit. Officiis, eos saepe, fugiat facilis et maxime quae atque dolores perspiciatis voluptas sint, soluta rem beatae? Pariatur molestiae porro impedit nesciunt labore!
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi perspiciatis consequatur quod ut unde aliquam nam voluptatem esse quas corporis inventore nobis, sapiente architecto laboriosam molestias! Veritatis ipsam placeat expedita.
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, quo? Possimus voluptatem natus est voluptates cumque, neque suscipit alias voluptas velit rem. Possimus doloribus quae distinctio ipsam officia eos consequatur?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe totam, mollitia cumque reiciendis fuga voluptas optio dignissimos perspiciatis assumenda dolores quaerat! Sint aperiam officia debitis similique. Cumque distinctio porro eum.
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, sapiente alias. Itaque deleniti similique accusamus quod et quo voluptatibus laboriosam, alias quaerat, minima sapiente ex quisquam? Quis veritatis modi labore?
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus culpa debitis laudantium incidunt nesciunt, quisquam minus voluptatibus totam, eum labore impedit quod repudiandae aliquid delectus rem aspernatur minima voluptates optio?
    
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, enim, pariatur magni unde id quasi at beatae adipisci ipsum sequi tenetur quisquam earum cum eligendi distinctio? Quod iste saepe modi.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eligendi iste laboriosam accusantium molestias neque repellendus quam commodi optio ipsam debitis, laborum nihil adipisci maxime deleniti repellat nostrum voluptatem est.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est officia natus doloribus numquam incidunt eligendi eius similique praesentium, quasi deserunt expedita libero inventore possimus quaerat quod asperiores minus iure officiis?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorem sequi quisquam dolore quia inventore obcaecati officiis, dolor, tenetur veniam voluptas vitae necessitatibus velit fugiat quae voluptates fuga facere commodi.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, rem nesciunt. Porro quasi maxime molestiae dolorem nesciunt? Voluptatum cum consectetur modi debitis! Aut deserunt ex expedita, labore corporis aspernatur blanditiis?
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati illo laudantium corrupti alias molestiae, nulla delectus sint, debitis ratione ut maxime eum! Culpa, repellat quas cupiditate perspiciatis perferendis officia soluta?
              </div>
      </div>
      <!-- footer -->

      <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
        <div class="container">
          <div class="fixed-top position-relative col-3" align="left">
      </div>  
          <p class="mb-0">Designed and built with all the love ❤️</p>
          <p class="mb-0">Currently v1.0.0-beta1. 
          <div _ngcontent-amu-c4="" class=" blockquote-footer  footer-col contact-us"><div _ngcontent-amu-c4="" class="default-heading"><h2 _ngcontent-amu-c4="">Contact Us</h2></div><!----><div _ngcontent-amu-c4=""><ul>
            <li><em class="fa fa-map-marker">&nbsp;</em><a href="https://goo.gl/maps/Hjan5a5LtwjuaP1u5" target="_blank" rel="noopener">Aligarh Muslim University Aligarh, Uttar Pradesh INDIA - 202002</a></li>
            <li><em class="fa fa-phone">&nbsp;</em><a>+91-571-2700920</a></li>
            <li><em class="fa fa-envelope-o">&nbsp;</em><a>Email: amupro@amu.ac.in</a></li>
            </ul></div><!----></div>
        </div>
      </footer>

      <div class="blockquote-footer container-md col-7  style="text-align: center; padding-top: 100px;">
        Copyright © 2021 Aligarh Muslim University Aligarh, India. </p>
       </div>
   </body>
</html>
