<%-  include ('partials/header') -%>
<style>
    .mystyle {
      width: 0%;
      padding: 0px;
      /* background-color: coral; */
      /* color: white; */
      /* font-size: 25px; */
      /* box-sizing: border-box; */
    }
</style>

<div class="container">
    <div class="row" style="width: 100%; margin: 0 auto; ">
            <div class="col-md-5">

            </div>
            <div class="col-md-4">

                <form action="/register", method="POST" style="padding-top: 50px ;">
                    <h1 style="text-align:center"><b>Signup for AMU VLAB</b></h1>
                    <div class="form-group">
                        <label for="UserType"></label>
                        <select name="user" id="UserType" class="form-control" onselect="askEnroll()">
                            <option selected>Choose UserType</option>
                            <option value="teacher">Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username" required>
                    </div>

                    <div class="form-group" id="type">
                        <input class="form-control" type="text" name="enroll" placeholder="Enroll No" required>
                    </div>

                    <div class="form-group">
                        <input class= "form-control" type="password" name="password"  placeholder="Password" required>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">SIGN UP</button> 
                    </div>
                    <div style="text-align:center">
                        <a href="/login" class="pull-right">Already Joined</a>
                    </div>
                </form>     
            
            </div>
      </div>
</div>

<script>
    var qselect = document.getElementById('UserType');
    function clck(){

        var enroFld = document.getElementById("type");
        if(qselect.value=="teacher"){
            enroFld.style.display="none";
        }
        else{
            enroFld.style.display="block";
        }
    }
qselect.addEventListener('change', clck);
</script>