<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div id="contents" class="font-normal">
        <h2>Steps for conducting the experiment</h2>
    
        <h3>General Instructions</h3>
    
        <p>
            Follow are the steps to be followed in general to perform the experiments in
            <strong>Software Engineering Virtual Lab</strong>.
        </p>
    
        <ol>
            <li>Read the theory about the experiment</li>
            <li>View the simulation provided for a chosen, related problem</li>
            <li>Take the self evaluation to judge your understanding (optional, but recommended)</li>
            <li>Solve the given list of exercises</li>
        </ol>
    
    
    
        <h3>Experiment Specific Instructions</h3>
    
        <p>Following are the instructions specifically for this experiment:</p>
    
        <ol>
    <li>Identify an actor, and write its name in the left textbox of <strong>‘Table #1’</strong>. Click the adjacent <strong>‘Add’</strong> button to add this actor. Repeat this for all the possible actors.</li>
    <li>Identify a use case, and write its name in the left textbox of <strong>‘Table #2’</strong>. Click the adjacent <strong>‘Add’</strong> button to add this use case. Repeat this for all the possible use cases.</li>
    <li>If you want to delete any actor or use case, go to the <strong>‘Table #4’</strong>, remove the actor or use case.</li>
    <li><strong>‘Table #3’</strong> lets you define relationships between any two components. Select the first actor/use case from the first dropdown list, the second from the third drop down list. Select one relationship from the second dropdown list. If you want to put any label to the relation, write the text for the label to the adjacent textbox. Click on the <strong>’Add’</strong> button at the right side to add this relation. Repeat this for all the possible relations.</li>
    <li>Relationships so defined will be displayed in the <strong>‘Table #5’</strong>. Here, you have the option to remove a wrongly defined relationship.</li>
    <li>Click on the <strong>‘Draw’</strong> button to draw the Use Case diagram. You can click on this button at any time to reflect the changes that you have made to the actors, use cases, or relationships. The Use Case diagram will be displayed at the bottom of the page.</li>
    <li>To view a sample solution for the exercise, click on the <strong>'Submit'</strong> button, and then on the <strong>'View Solution'</strong> button.</li>
    
    <li>Also, when your solution is not exactly right, you will get a <strong>'View Solution'</strong> button to view the solution.</li>
    </ol>
    <p>&nbsp;</p>
    <p>
    </p><div id="note" class="note">
    <ol>
    <li>Give the name of actors and use cases in <strong>‘Table #1’</strong> and <strong> ‘Table #2’</strong> respectively by using alphabets, numerics and white-space only.</li>
    <li>Write the text of the label for relationships in <strong>‘Table #3’</strong> using  alphabets, numerics and white-space only.</li>
    <li>After updating your inputs click <strong>’Draw’</strong> button to see your last updated diagram.</li>
    </ol>
    </div>
    
        <p>&nbsp;</p>
    
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>



