<%- include ('../../partials/header') %>
  <h1 style="color:red">
    From the following problem statement, identify the actors and use cases
  </h1>
  <p>An automated teller machine (ATM) lets customers to withdraw cash anytime from anywhere 
      without requiring involvement of any banking clerk or representative. Customer must insert
       his ATM card into he machine and authenticate himself by typing in his personal identification 
       number (PIN). He cannot avail any of the facilities if the PIN entered is wrong. Authenticated 
       customers can also change their PIN. They can deposit cash to their account with the bank. Also 
       they can transfer funds to any other account. The ATM also provides options to the user to pay 
       electricity or phone bill. Everyday morning the stock of cash in the ATM machine is replenished 
       by a representative from the bank. Also, if the machine stops working, then it is fixed by a 
       maintenance guy.</p>
  
    
  <%- include ('../../partials/footer') %>