<%- include ('../partials/header') %>
  <!-- main body -->
  <div>
    <h5> VI Characteristics Of a Diode <span class="instruct" style="color: rgb(154, 154, 163);">| Forward Bias</span>
    </h5>
  </div>
  <div style="background-color: blue; visibility: hidden;">
    <p>Some ransom text</p>
  </div>
  </div>
  <div class="container-lg">
    <div class="row">
      <div class="col-6 pt-5">


        <div class="col-5" style="visibility: hidden;">This is a rubbus</div>
        <select id="diode_type">
          <option value="choose" selected="">Choose Diode</option>
          <option value="0.6">1N4001</option>
          <option value="0.6">1N4004</option>
          <option value="0.6">1N4007</option>
          <option value="0.5">1N4148</option>
          <option value="0.62">1N4448</option>
          <option value="0.6">1N5408</option>
        </select>


        <input type="text" value="" id="diodevalue" placeholder="Diode Value" style="background-color:#f0eaea;"
          readonly="">
        <div class="col-5" style="visibility: hidden;">This is a rubbus</div>
        <span>DC VOLTS: &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</span>

        <input type="range" min="0" max="5" step="0.1" value="0" id="dc">
        <p>Value: <span id="dc-value"></span></p>

        <span>RESISTANCE: &nbsp; &nbsp;</span>

        <input type="range" min="100" max="2000" step="1" value="100" id="r">
        <p>Value: <span id="r-value"></span></p>
        <button>Check Connections</button>
        <button>Add to table</button>
        <button>Plot</button>
      </div>

      <div class="col-6">
        <table id="mytable" style="border:1px solid black">
          <tbody>
            <tr>
              <th>Serial No.</th>
              <th>Forward Voltage(Volt)</th>
              <th>Forward Current(mAmp)</th>
            </tr>
            <tr>
              <td>1.</td>
              <td>22.98</td>
              <td>1.78</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>





  <script>
    var slider = document.getElementById("dc");
    var output = document.getElementById("dc-value");

    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    };
  </script>


  <script>
    var slider = document.getElementById("r");
    var output_r = document.getElementById("r-value");

    output_r.innerHTML = slider.value;

    slider.oninput = function () {
      output_r.innerHTML = this.value;
    };
  </script>


  <%- include ('../partials/footer') %>