
body{
    font-family: 'Nunito', sans-serif;
     background: #ffffff;
     overflow-x: hidden;
}

#mainNavbar{
    font-size:1.5rem;
    font-weight: 100;
    padding-top: 50%;
    padding-bottom:0% ;
    /* alternatively can be py-0  */
}
#mainNavbar .nav-link{
    color:rgb(22, 24, 23);

}

#mainNavbar .nav-link:hover{
    color:#010c08;
}

#mainNavbar .navbar-brand
{
    color:#f1f1f1;
    
}

.navbar.scrolled{
    background-color :rgba(238, 233, 233, 0.7)
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}

  .hide{
      display: none;
  }

.instruct{
	color:white;
	width: 0px;
    font-size: 0px;
	transition: 0.2s;
}

h5:hover .instruct{

    width: 40px;
    transition-delay: 1;
    font-size: 15px;

}
nav#lab-article-navigation, nav#experiment-article-navigation 
{
	height:90px;
	margin: 0 auto;
	width:1024px;
	background: url(../images/content_bg.jpg);
} 
nav#lab-article-navigation ul li, nav#experiment-article-navigation ul li
{
	float: left;
	list-style: none;
	margin-right: 0.3em; 
}

nav#lab-article-navigation ul li img, nav#experiment-article-navigation ul li img
{
	width:50px;
	height:50px;
} 
nav#lab-article-navigation ul li a:link, nav#experiment-article-navigation ul li a:link,
nav#lab-article-navigation ul li a:visited, nav#experiment-article-navigation ul li a:visited
{
	color:#02568e;
	text-decoration: underline;
	float: right;
	font-size: 16px;
	text-transform:uppercase;
	padding: 9px;
}

nav#lab-article-navigation ul li a:hover, nav#experiment-article-navigation ul li a:hover,
nav#lab-article-navigation ul li a:focus, nav#experiment-article-navigation ul li a:focus 
{
	color: #ffffff;
	background-color:#02568e;
}


