.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}
/** ELEMENTS **/
.bigdot {
    cursor: pointer;
    /* width: 162px; */
    /* height: 162px; */
    background-image: url("./bigdot.png");
    z-index: 5;
    position: absolute;
    /* border-radius: 81px; */
}

.bigdot-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#bd1 {
    top: 10;
    left: 26em;
}

#bd2 {
    top: 3em;
    left: 3em;
}

#bd3 {
    top: 19em;
    left: 4.5em;
}

#bd4 {
    top: 19em;
    left: 46em;
}

#bd5 {
    top: 29em;
    left: 6em;
}

#bd6 {
    top: 1em;
    left: 2em;
}

#bd7 {
    top: 30em;
    left: 3em;
}

#bd8 {
    top: 09em;
    left: 45em;
}

#bd9 {
    top: 119em;
    left: 406em;
}

#bd10 {
    top: 29em;
    left: 6em;
}


path, .jtk-endpoint {
    cursor: pointer;
}