body,html {
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
}

.clearfix { clear:both; }
.wholebody {
    margin:0 auto;
    width:1260px; 
    height:980px; 
   background-color:white;
   position:relative;
   top:0px;
                
}

#circuitsection{
                position:absolute;
                border: 2px solid #054d2b; 
                top:40px;
                width:530px;
                height:380px;
                right:10px;
             }
             
             #circuit{
                 
                 position:absolute; top:40px;right:80px; height:300px; width:400px;
             }



.middlerightupper{
    position:relative;
    top:50px;
    width:530px;
    height:178px;
    border:1px solid #737373;
 
}
.middlerightsectiondivide{
    position:relative;
    left:250px;
    top:0px;
    width:3px;
    height:209px;
    border:1px solid #737373;
    color: #e6e6e6;
    background-color:  #737373;
}
.middlerightmiddle{
    position:relative; 
    top:50px;
    width:530px;
    height:210px;
    border:1px solid #737373;
  
}

.lowerleftsection{
    position:relative;
    
    top:5px;
    margin:0 auto;
    margin-top:15px;
    width:550px;
    height:180px;
    border:1px solid #737373; 
}



.canvas2d-view{
    margin-bottom:0px;
    width:550px;
    margin-top:40px;
    height:350px;
 
}
#mycanvas{
    color:#054d2b;
    margin-top:10px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#ffffff;
    border:1.5px solid black;
}

#sinecrv{
    position:relative;
    top:10px;
    left:10px;
    cursor:pointer; 
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}
#sincrv{
    position:relative;
    top:10px;
    left:20px;
    cursor:pointer; 
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}


#chhn1{
    position:relative;
    left:100px;
    top:10px;
    cursor:pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px #999;
	z-index:1;
}
#chhn2{
    position:relative;
    left:120px;
    top:10px;
    cursor:pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px #999;
	z-index:1;
}
#grnd{
    position:relative;
    left:140px;
    top:10px;
    cursor:pointer;
    text-align: center;
    border-radius: 5px;box-shadow: 0 2px #999;
	z-index:1;
}
#dual{
    position:relative;
    left:160px;
    top:10px;
    cursor:pointer;
    text-align: center;
    border-radius: 5px;box-shadow: 0 2px #999;
	z-index:1;
}
/********************************************    knob on right side   **********************************/

#frequency-knob-container {
   
     margin-bottom: 20px;
    position:relative;
    top:30px;
    float: left;
    left:160px;
    width: 100px;
    height: 110px;
    padding: 5px;
    /*background-color: orange;*/
    text-align: center;
    cursor:pointer;
}
#frequency-knob-container label,#amplitude-knob-container label{
    font-style: italic;
}
/*************************    knob for amplitude   **********************************/

#amplitude-knob-container1 {
  
    margin-bottom: 20px;
    position:relative;
    top:10px;
    float:left;
    left:140px;
    width: 100px;
    height: 110px;
    padding: 5px;
    
    text-align: center;
    cursor:pointer;
}

    #amp-knob1{
		margin-top: -33px;
    margin-left: 7px;
    
}


#amplitude-knob-container2 {
     
     margin-bottom: 20px;
    position:relative;
    top:10px;
    float:left;
    left:260px;
    width: 100px;
    height: 110px;
    padding: 5px;
     
    text-align: center;
    cursor:pointer;
}
#amplitude-knob-container1 label,#amplitude-knob-container2 label{
    font-style: italic;
}

/*************************    knob for function Generator   **********************************/

#frequency-knob-container-fng {
    
     margin-bottom: 20px;
    position:relative;
    float: left;
    left:50px;
    top:30px;
    width: 100px;
    height: 110px;
    padding: 5px;
    /*background-color: orange;*/
    text-align: center;
    cursor:pointer;
}
#amplitude-knob-container-fng {
    /*border: 1px solid red;
    margin-bottom: 20px;*/
    position:relative;
    float:right;
    right:150px;
    top:30px;
    width: 100px;
    height: 110px;
    padding: 5px;
     
    text-align: center;
    cursor:pointer;
}
#frequency-knob-container-fng label,#amplitude-knob-container-fng label{
    font-style: italic;
}


#positiony1{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    position:relative;
    top:10px;
    float:right;
    right:490px;
}
#positnlabely1{
    position:relative;
    top:190px;
    float:right;
    right:430px;
}
#positnlabelch1{
    position:relative;
    top:190px;
    float:right;
    right:230px;
}
#positiony2{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    position:relative;
    top:10px;
    float:left;
    left:60px;
}
#positnlabely2{
    position:relative;
    top:190px;
    float:left;
    left:30px;
}
#positnlabelch2{
    position:relative;
    top:173px;  
    float:left;
    left:140px;
}
#positionx{
    position:relative;
    top:80px;
    left:-50px;
}
#positnlabelx{
    position:relative;
    top:120px;
    float:left;
    left:50px;
}
#resistor{
   -webkit-appearance: slider-vertical; /* WebKit */
 position:absolute;
 right:20px;
 top:130px;
 cursor:pointer;
}
#restr{
    position:absolute;
    width:70px;
    top:150px;
    right:100px;
}
#resohm{
   position:relative;

    top:140px;
     float:right; 
     right:-50px;
}
#r{
    position:absolute;

    top:210px;
    right:110px;
     
}
/*---------------------------------- Desciption------------------------------------*/            
             #description{
                 background-color: #054d2b;   position:absolute; top:40px; left:10px; width:600px;font-size: 16px;font-weight: bold;
             }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                border:2px solid #054d2b;;
                min-width: 450px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
            }

            .dropdown:hover .dropdown-content {
                display: block;

            }
  
            /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 80px;
                background-color: #f9f9f9;/*#ffff80;#555;*/
                border:2px solid #054d2b;;  

              
                text-align: center;
              
                position: absolute;
                z-index: 1;
                top: 60%;
                left: 80%;
                margin-left: 20px;

                /* Fade in tooltip */
                opacity: 0;
                transition: opacity 1s;
            }
            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 3;
            }
            
            /*--------------------------------------calculation of vm---------------------------------------*/
            #calcln{
                position:absolute;border: 2px solid #054d2b; top:590px;width:520px;height:240px;left:10px;
            }
   /*------------------------------- calculation ------------------------------------------------*/         
            #calculator{
                width:280px;height:400px;position:absolute;left:37%; top:750px;
            }
            
             #controller{
              position:absolute;border: 2px solid #054d2b; top:430px;width:530px;height:440px;right:10px;  
            }
            #grpwrap{
                position:absolute;border: 2px solid #054d2b; top:120px;width:600px;height:600px;left:10px;
            }
            
            #calcln{
     position:absolute;border: 2px solid #054d2b; top:800px;width:600px;height:230px;left:10px;
            }
p{
    margin-top:1rem;
}

