<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div class="content" id="experiment-article-section-2-content">  

        <b>Experiment</b><br><br>

        <ol type="I">
            <li>BJT Common Base - Input Characteristics</li>
            <ol>
               <li>Initially set rheostat R<sub>h1</sub> = 1 立 and rheostat R<sub>h2</sub> = 1 立 </li>
        <li>Set the Collector-Base Voltage(V<sub>CB</sub>) to 1 V  by adjusting the rheostat  R<sub>h2</sub></li>
        <li> Base Emitter Voltage(V<sub>BE</sub>) is varied  by adjusting the rheostat  R<sub>h1</sub>.</li>
        <li>Note the reading of emitter current(I<sub>E</sub>)in m Ampere.</li>
        <li>Click on 'Plot' to plot the I-V characteristics of Common-Base configuration. A graph is drawn with VBE along X-axis and IE along Y-axis.</li>
        <li>Click on 'Clear' button to take another sets of readings</li> 
        <li>Now set the Collector-Emitter Voltage(V<sub>CB</sub>) to 2 V, 3 V, 4 V</li>
        
               
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp12/image/bjtcb_pr.png" style="width:450px;height:300px">
                    </p><br>
                    Figure:1
                </div><br><br>

            </ol>
            <li>BJT Common Base - Output Characteristics</li>
            <ol>
                 <li>Initially set rheostat R<sub>h1</sub> = 1 立 and rheostat R<sub>h2</sub> = 1 立 </li>
     <li>Set the Emitter current(I<sub>E</sub>)1 mA by adjusting the rheostat R<sub>h1</sub> </li>
                <li>Vary the  Collector-Base Voltage(V<sub>CB</sub>)is varied  by adjusting the rheostat R<sub>h2</sub>.</li>
                <li>Note the reading of Collector current(I<sub>C</sub>).</li>
                <li>Click on 'Plot' to plot the I-V characteristics of Common-Base configuration. A graph is drawn with V<sub>CB</sub> along X-axis and I<sub>C</sub> along Y-axis.</li>
                <li>Click on 'Clear' button to take another sets of readings</li>
                <li>Now set the Emitter Current(I<sub>E</sub>) to 2 mA</li>
                <div align="center">
                    <p>
                        <img src="http://vlabs.iitkgp.ac.in/be/exp12/image/bjtcb_pr.png" style="width:450px;height:300px">
                    </p><br>
                    Figure:1
                </div><br><br>
            </ol>
        </ol>
              
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>