<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div class="content" id="experiment-article-section-2-content">
        <b>Experiment</b><br><br>
        <ol type="1">
            <li>The source voltage (V<sub>S</sub>) is set to 50mV at 1 KHz frequency.</li>
            <li>Keeping source voltage constant, vary the frequency from 50 Hz in regular steps.</li>
            <li>Set Source Resistance(R<sub>S</sub>)=100Ω.</li>
            <li>Set Collector Resistance(R<sub>C</sub>)=4000Ω, Set Emitter Resistance(R<sub>E</sub>)=1000Ω, Set Load Resistance(R<sub>L</sub>)=2000Ω.  </li>
            <li>Set Base Resistance1(R<sub>B1</sub>)=47 KΩ, Set Base Resistance2(R<sub>B2</sub>)=10KΩ.</li>
            <li>Set Coupling Capacitor1(C<sub>C1</sub>)=10μF, Set Coupling Capacitor2(C<sub>C2</sub>) =10μF, Set Bypass Capacitance(C<sub>E</sub>)=10μF.</li>
            <li>Click on "Add to Table" button to add the readings to the table.</li>
            <li>Vary the Frequency by keeping the resistances constant. </li>
            
            <li>Click on "Plot" button to plot the Magnitude graph of the CE Amplifier, Frequency(Hz) along X-axis and Magnitude(dB) along Y-axis.</li>
            <li>Click on "Clear" button to take another set of readings.</li>
        </ol> 

        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp13/image/ceampprc.png" style="width:600px;height:400px">
            </p><br>

        </div><br><br>

               
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>














