<%- include ('../../partials/header') %>
  <!-- main body -->
 

  
          <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
          <script class="include" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script class="include" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.min.js"></script>
          
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.1/math.min.js"></script>
          <script src="./Js/ceamp.js"></script>
        <link rel="stylesheet" type="text/css" href="./stylesheets/ceampcss.css">
        <body bgcolor="#000066" > 
           
            <div id="dialogoverlay"></div>
            <div id="dialogbox">
                <div>
                    <div id="dialogboxhead"></div>
                    <div id="dialogboxbody"></div>
                    <div id="dialogboxfoot"></div>
                </div>
            </div>
            <div id="whole_body" style=" background-color:white;position:relative; margin-left:auto; margin-right:auto; top:10px;height:1600px; width:1160px;">
    
                <div style="font-size:30px; text-align:center;padding-right:60px; height:20px; margin-top:2px;left:100px"> <b  style="margin-left:80px;"> CE Amplifier </b></div>
                <div id="ckt_values1" style="position:absolute;top:80px;width:605px;height:450px;left:40px;">
                    <p>
                        <img src ="./images/ceamp.png" style="width:600px;height:400px;position:absolute;right:0px" /> 
    
                    <p style="position:absolute;top:0px;right:305px;font-size:15px"><b>V<sub>CC</sub></b></p><!--Vcc-->
                    <p style="position:absolute;top:155px;right:410px;font-size:15px"><b>C<sub>C1</sub></b></p><!--Cc1-->
                    <p style="position:absolute;top:155px;right:500px;font-size:15px"><b>R<sub>S</sub></b></p><!--Rs-->
                    <p style="position:absolute;top:80px;right:245px;font-size:15px"><b>R<sub>C</sub></b></p><!--Rc-->
                    <p style="position:absolute;top:80px;right:350px;font-size:15px"><b>R<sub>B1</sub></b></p><!--Rb1-->
                    <p style="position:absolute;top:260px;right:390px;font-size:15px"><b>R<sub>B2</sub></b></p><!--Rb2-->
                    <p style="position:absolute;top:260px;right:245px;font-size:15px"><b>R<sub>E</sub></b></p><!--Re-->
                    <p style="position:absolute;top:260px;right:185px;font-size:15px"><b>C<sub>E</sub></b></p><!--Ce-->
                    <p style="position:absolute;top:125px;right:185px;font-size:15px"><b>C<sub>C2</sub></b></p><!--Cc2-->
                    <p style="position:absolute;top:230px;right:120px;font-size:15px"><b>R<sub>L</sub></b></p><!--Rl-->
                    <p style="position:absolute;top:245px;right:15px;font-size:15px"><b>V<sub>O</sub></b></p><!--Vo-->
                    <p style="position:absolute;top:260px;right:520px;font-size:15px"><b>Freq</b></p><!--Freq-->
    
                    <input type="text" name="inpfq" id="fqr"  value="" readonly  style="position:absolute;top:310px;right:520px;width:70px"> 	
                    <!--border:none-->
                    <input type="text" name="resis" id="srcrest"  value=""  readonly style="position:absolute;top:215px;right:480px;width:70px"> 
                    <input type="text" name="resis" id="cllcrest"  value="" readonly  style="position:absolute;top:120px;right:245px;width:70px"> 
                    <input type="text" name="resis" id="emtrest" value="" readonly  style="position:absolute;top:320px;right:235px;width:70px"> 
                    <input type="text" name="resis" id="ldrest"  value="" readonly  style="position:absolute;top:300px;right:50px;width:70px"> 
                    <input type="text" name="resis" id="bsres1t"  value="" readonly style="position:absolute;top:120px;right:340px;width:70px"> 
                    <input type="text" name="resis" id="bsres2t"  value="" readonly style="position:absolute;top:300px;right:350px;width:70px"> 
                    <input type="text" name="resis" id="cplcp1t"  value="" readonly style="position:absolute;top:225px;right:390px;width:70px"> 
                    <input type="text" name="resis" id="cplcp2t"  value="" readonly style="position:absolute;top:180px;right:165px;width:70px"> 
                    <input type="text" name="resis" id="bypscapt"  value="" readonly  style="position:absolute;top:320px;right:145px;width:70px"> 
    
                </div>
    
                <div id="cntrwrap" style="position:absolute;border: 2px solid #054d2b; top:20px;width:430px;height:430px;right:10px;">
                    <div id="cntrlr" style="position:absolute; background-color:#054d2b;   height:50px; top:0px; right:0px; width:430px;font-size: 16px;font-weight: bold;">
                        <p style="text-align:center;padding-right:230px;color:white"><b>CONTROLS</b></p></div>
                    <div id="slide" style=" position:absolute; top:52px; right:0px;height:400px; width:433px;  border-radius: 10px;">
    
                        <!--&nbsp&nbsp DC volt(V<sub>S</sub>) : &nbsp&nbsp&nbsp <input type="range" name="inpdc" id="vdc" min="20" max="30" step="1" value=""  oninput="voltChange()" style="width:180px;"> &nbsp; Volt<br>-->	
                        &nbsp;&nbsp; Source Resistance(R<sub>S</sub>): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="srcres" min="100" max="1000" step="50" value="100" oninput="srcresChange()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Collector Resistance(R<sub>C</sub>) : &nbsp;&nbsp;<input type="range" name="resis" id="cllcres" min="100" max="4000" step="50" value="100" oninput="cllcresChange()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Emitter Resistance(R<sub>E</sub>) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="emtres"  min="100" max="1000" step="50" value="100" oninput="emtresChange()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Load Resistance(R<sub>L</sub>) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="ldres" min="100" max="4000" step="50" value="100" oninput="ldresChange()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Base Resistance(R<sub>B1</sub>) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="bsres1" min="100" max="47000" step="100" value="100" oninput="bsres1Change()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Base Resistance(R<sub>B2</sub>) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="bsres2" min="100" max="15000" step="100" value="100" oninput="bsres2Change()" style="width:180px"> &nbsp; &#937;<br>
                        &nbsp;&nbsp; Coupling Capacitor(C<sub>C1</sub>) : &nbsp;&nbsp;<input type="range" name="resis" id="cplcp1" min="1" max="10" step="1" value="1" oninput="cplcp1Change()" style="width:180px"> &nbsp;&#956;f<br>
                        &nbsp;&nbsp; Coupling Capacitor(C<sub>C2</sub>) :&nbsp;&nbsp; <input type="range" name="resis" id="cplcp2" min="1" max="10" step="1" value="1" oninput="cplcp2Change()" style="width:180px"> &nbsp; &#956;f<br>
                        &nbsp;&nbsp; Bypass Capacitance(C<sub>E</sub>) : &nbsp;&nbsp;&nbsp;<input type="range" name="resis" id="bypscap" min="1" max="10" step="1" value="1" oninput="bypscpaChange()" style="width:180px"> &nbsp; &#956;f<br>
                        &nbsp;&nbsp; Frequency(Freq) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="range" name="freqs" id="fq" min="2.5" max="8.5" step="0.04" value="2.5"  oninput="freqChange()" style="width:180px;"> &nbsp; Hz<br>
                        <br>
                        <input type="button" id="add" value="Add to Table" onclick="tabled()" style="position:absolute;  width:100px;  right:300px;cursor:pointer; "/>  
                        <input type="button" id="plt" value="Plot" onclick="plot()" style="position:absolute; width:100px; right:180px;cursor:pointer; "/>  
                        <input type="button" id="clr" value="Clear" onclick="cleard()" style="position:absolute; width:100px; right:50px;cursor:pointer;  "/>
                    </div>
                </div>
                <!--  <div id="msg" style="position:absolute;top:250px;right:150px; width:300px;height:50px;border:1px solid black">
                      <p id="demo" style="color:red;"></p>
                      <p id="demos" style="color:red;"></p>
        
                  </div>-->
    
                <div id="description" style="background-color:#054d2b;   position:absolute; top:10px; left:10px; width:360px;font-size: 16px;font-weight: bold;">
                    <div class="dropdown">
                        <p style="text-align:center;padding-right:150px;color:white;"> INSTRUCTION</p>
                        <div class="dropdown-content">
                            <ol type="1">
                                <li>The source voltage (V<sub>S</sub>) is set to 50mV at 1 KHz frequency.</li>
                                <li>Keeping source voltage constant, vary the frequency from 50 Hz in regular steps.</li>
                                <li>Set Source Resistance(R<sub>S</sub>)=100&#937;.</li>
                                <li>Set Collector Resistance(R<sub>C</sub>)=4000&#937;, Set Emitter Resistance(R<sub>E</sub>)=1000&#937;, Set Load Resistance(R<sub>L</sub>)=2000&#937;.  </li>
                                <li>Set Base Resistance1(R<sub>B1</sub>)=47 K&#937;, Set Base Resistance2(R<sub>B2</sub>)=10K&#937;.</li>
                                <li>Set Coupling Capacitor1(C<sub>C1</sub>)=10&#956;F, Set Coupling Capacitor2(C<sub>C2</sub>) =10&#956;F, Set Bypass Capacitance(C<sub>E</sub>)=10&#956;F.</li>
                                <li>Click on "Add to Table" button to add the readings to the table.</li>
                                <li>Vary the Frequency by keeping the resistances constant. </li>                           
                                <li>Click on "Plot" button to plot the Magnitude graph of the CE Amplifier, Frequency(Hz) along X-axis and Magnitude(dB) along Y-axis.</li>
                                <li>Click on "Clear" button to take another set of readings.</li>
                            </ol> 
    
                        </div>
                    </div>
                </div>
                <div id="tblwrap" style="position:relative; top:450px;left:80px; height:250px; width:1050px;border:2px solid #054d2b;">
                    <div style="position:absolute; font-size:16px;background-color:#054d2b;  top:0px;left:0px; width:1050px; height:50px;font-weight: bold;">
                        <p style="text-align:center;padding-right:810px;color:white"> <b> EXPERIMENTAL TABLE</b></p>
                    </div>
                    <!--<p style="position:absolute; font-size:20px;top:40px;left:10px;">Collector-Collector Voltage&nbsp;<input type="text" id="vcs" value="" size="4" readonly />Volt</p><br><br>-->
                    <div id="table" style="background-color:#e6f5ff;position:absolute;top:50px;width:1050px;height:200px; left:0px;overflow-y: auto">
    
                        <table id="mytable" border="1" >                    
                            <tr>
                                <th width="50">Serial No.</th>
                                <th width="500">Frequency(Hz)</th>
                                <th width="500">Magnitude(dB)</th>
                            </tr>                   
    
                        </table>
                    </div>
                </div>
    
                <div id="grpwrap" style="position:absolute;border: 2px solid #054d2b; top:830px;height:640px; width:1050px;left:80px">
                    <div style="position:absolute; font-size:16px; top:0px;left:0px;  height:50px;background-color:#054d2b;  width:1050px;font-weight: bold;"><p> <b style="text-align:center;padding-right:810px;color:white"> GRAPH PLOT</b></p>
                        <div class="tooltip" ><button id="calci"  onclick="printf()" style="position:absolute;padding-right:40px; cursor:pointer;top:13px;right:20px;width:5px;height:25px;border:none; background-color:#054d2b;">
                                <img src="./images/Print%20Filled.png" alt="Save icon" style="width:20px;height:20px;top:13px;"/></button> 
                            <span class="tooltiptext">Print</span></div>
                    </div>
                    <p style="position:absolute; font-size:20px;top:60px;left:10px;">Midband gain=<input type="text" id="midbnd" value="" size="10" readonly /></p>
                    <p style="position:absolute; font-size:20px;top:100px;left:10px;"> Low frequency cut-off =<input type="text" id="lowfq" value="" size="10" readonly /> Hz</p>
                    <p style="position:absolute; font-size:20px;top:140px;left:10px;">High frequency cut-off=<input type="text" id="highfq" value="" size="10" readonly />Hz</p>
    
                    <div id="chartContainer" style="position:absolute;  top:160px;  left:0px; height:480px; width:1050px;">
                    </div>
                </div>
    
            </div>
           
         
     
    
     
  
    
  <%- include ('../../partials/footer') %>