<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div class="content" id="experiment-article-section-2-content">     
        <b> Frequency Response of RC Low Pass Filter</b><br><br>
        <ol type="1">
        <li>Set Load Resistance(R<sub>L</sub>)=10 KΩ.</li>
        <li>Set Load Capacitor(C<sub>L</sub>)=0.01nF.</li>
        <li>The source voltage (V<sub>in</sub>) is set to 10V.</li>
        <li>Keeping source voltage constant, vary the frequency from 50 Hz in regular steps.</li>                           
        <li>Click on "Add to Table" button to add the readings to the table.</li>
        <li>Vary the Frequency by keeping the load resistances and load capacitance constant. </li>                           
        <li>Select  "Plot" button to plot the frequency graph or the phase graph  of the RC frequency, Frequency(Hz) along X-axis and Magnitude(dB) along Y-axis.</li>
        <li>Click on "Clear" button to take another set of readings.</li>
    </ol> 

        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rc_lpf_pr.png" style="width:500px;height:300px">
            </p><br>
            Figure:1
        </div><br><br>
        
        <b> Frequency Response of RC High Pass Filter</b><br><br>
        <ol type="1">
        <li>Set Load Resistance(R<sub>L</sub>)=10 KΩ.</li>
        <li>Set Load Capacitor(C<sub>L</sub>)=1.91nF.</li>
        <li>The source voltage (V<sub>in</sub>) is set to 10V.</li>
        <li>Keeping source voltage constant, vary the frequency from 50 Hz in regular steps.</li>                           
        <li>Click on "Add to Table" button to add the readings to the table.</li>
        <li>Vary the Frequency by keeping the load resistances and load capacitance constant. </li>                           
        <li>Select  "Plot" button to plot the frequency graph or the phase graph  of the RC frequency, Frequency(Hz) along X-axis and Magnitude(dB) along Y-axis.</li>
        <li>Click on "Clear" button to take another set of readings.</li>
    </ol> 

        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rc_hpf_pr.png" style="width:500px;height:300px">
            </p><br>
            Figure:2
        </div><br><br>
                       
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>