<%- include ('../../partials/header') %>
<h2 style="margin-top: 200px; margin-left:250px ;">
    <ul>
      <li> <a href="/simulation9.1">
          
          RC Low Pass Filter
      </a>
  </li>
  <li> <a href="/simulation9.2">
      
    RC High Pass Filter
       </a>
  </li>

    </ul>
</h2>
    
      
    
  <%- include ('../../partials/footer') %>