<%- include ('../../partials/header') %>

    <h3> Theory</h3>
    
    </section>
    <div class="content" id="experiment-article-section-1-content">    
        <b>Objectives</b><br><br>
        At the end of the module, the student would be able to<br>
        <ol>
            <li>Explain RC Voltage Dividers</li>
            <li>Explain RC Circuit as a Low Pass Filter</li>
            <li>Explain RC Circuit as a High Pass Filter</li>
            
        </ol><br><br>
        <b>RC Circuit as Filters </b><br><br>
        <p>A filter is a circuit that allows to pass a specified range of frequency components, 
        while blocking or “attenuating” the rest according to the frequency range of signals. 
        The most commonly used filter designs are as follows:
</p><br><br>
<ol>
<li>The Low Pass Filter- Filter passes low frequencies and blocks high frequencies.It only allows low frequency signals from 0Hz to its cut-off frequency,
(\(f_{C}\)) point to pass while blocking those any higher.</li>
<li>The High Pass Filter-Filter passes high frequencies and  blocks low frequencies.
It only allows high frequency signals from its cut-off frequency, (\(f_{C}\)) point and higher to infinity to pass through while blocking those any lower.</li>
<li>The Band Pass Filter- Filter  passes only a relatively narrow range of frequencies. 
It allows signals falling within a certain frequency band setup between two points to pass through while blocking both the lower and higher frequencies either side of this frequency band.</li>
</ol><br><br>
<p>Filters can also be classified according to the types of components that are used to implement the circuit. 
Passive filters are made up of passive components such as resistors, capacitors and inductors and have no amplifying 
elements (transistors, op-amps, etc) so have no signal gain, 
therefore their output level is always less than the input.</p><br><br>

        
        <b>RC Voltage Dividers</b><br><br>
        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rcfrt1.png" style="width:300px;height:250px">
            </p><br>
            Figure:1
        </div><br>
        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rcfrt2.png" style="width:350px;height:250px">
            </p><br>
            Figure:2
        </div><br>

        <p>Let us consider RC circuits as voltage dividers to understand how they would perform as ‘filters’. <br>
            Note that V<sub>out</sub> = ( Z2/ Z1 + Z2 )*V<sub>in</sub>. In this case – Since Z1 or Z2 is dependent upon 
            frequency, the output is dependent upon the frequency of the input waveform.</p><br>
        <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rcfrt3.png" style="width:350px;height:250px">
            </p><br>
            Figure:3
        </div><br>
       
        
       <b>RC as Low Pass filter</b><br><br>
        <p>A simple passive RC Low Pass Filter or LPF, can be easily made by connecting together in 
                                        series a single Resistor with a single Capacitor as shown below.</p>
                                    <div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rc_lpf_th.png" style="width:350px;height:250px">
            </p><br>
            Figure:4
        </div><br>
        <p>In this type of filter arrangement the 
        input signal (\(V_{in}\)) is applied to the series combination (both the Resistor and Capacitor together) but the output signal (\(V_{out}\))
        is taken across the capacitor only. The reactance of a capacitor varies inversely with frequency, while the value of the resistor remains
                                    constant as the frequency changes. At low frequencies the capacitive reactance, (\(X_{C}\)) of the capacitor will be very large compared to 
                                    the resistive value of the resistor,R. Voltage across the capacitor will be much larger than the voltage drop  developed across the resistor.
                                    At high frequencies the reverse is true with (\(V_{C}\)) being small and (\(V_{R}\)) being large due to the change in the capacitive reactance value. 
        Thus, low frequencies are passed and high frequencies are blocked.</p><br><br>
<b>Cut-off Frequency</b>
<p>The cutoff frequency of an RC low-pass filter is  the frequency at which the amplitude of the input signal is reduced by 3 dB 
(this value was chosen because a 3 dB reduction in amplitude corresponds to a 50% reduction in power). 
Thus, the cutoff frequency is also called the –3 dB frequency. 
The term bandwidth refers to the width of a filter’s passband, and in the case of a low-pass filter, the bandwidth is equal to the –3 dB frequency
The cutoff frequency (\(f_{c}\)) of an RC low-pass filter is calculated as follows:
</p><br><br>
$$f_c=\frac {1}{2 \times {\pi} \times R_L \times C_L}$$



<b>Capacitive Reactance</b>
<p>The reactance of a capacitor indicates the amount of opposition to current flow, but unlike resistance, 
the amount of opposition depends on the frequency of the signal passing through the capacitor. Thus, 
to calculate reactance at a specific frequency, following equation is used:</p><br><br>
$$X_C=\frac {1}{2 \times {\pi} \times f \times C_L}$$
$$Z=\sqrt{R_L^ 2 +X_C^2}$$
$$Magnitude=20 \times \log{(\frac{X_C}{Z})}$$
$$ V_{out}=V_{in} \times (\frac{X_C}{Z})$$
<b>Low-Pass Filter Phase Shift</b>
<p>Each reactive element in a circuit introduces 90° of phase shift, but this phase shift does not happen all at once. 
The phase of the output signal, just like the magnitude of the output signal, changes gradually as the input frequency increases.
In an RC low-pass filter, we have one reactive element i.e. the capacitor, and consequently the circuit
will eventually introduce 90° of phase shift.</p><br><br>


$$\phi =-arctan(2 \times 3.14 \times f \times C_L \times R_L)$$

<b>High pass filter</b>

<p>A simple passive RC High Pass Filter or HPF, can be easily made by connecting together in series a single Resistor with a single Capacitor 
as shown below. 
In this type of filter arrangement the input signal (\(V_{in}\)) is applied to the series combination (both the Resistor and Capacitor together)
but the output signal (\(V_{out}\)) is taken across the resistor only. </p>
<div align="center">
            <p>
                <img src="http://vlabs.iitkgp.ac.in/be/exp14/image/rc_hpf_th.png" style="width:350px;height:250px">
            </p><br>
            Figure:5
        </div><br>
<p>In this circuit, the reactance of the capacitor is very high at low frequencies so the
capacitor acts like an open circuit and blocks any input signals at (\(V_{in}\)) until the cut-off frequency point (\(f_{C}\)) 
is reached. Above this cut-off frequency point the reactance of the capacitor has reduced sufficiently as to now act 
more like a short circuit allowing all of the input signal to pass directly to the output as shown below in the filters response curve.</p>



$$Magnitude=20 \times \log{(\frac{R}{Z})}$$
$$ V_{out}=V_{in} \times (\frac{R}{Z})$$
                            
    </div>

    </div>

    <%- include ('../../partials/footer') %>










    