<%- include ('../../partials/header') %>
    <!----Static Text  ------->
    <h3>Procedure</h3>
    <div id="contents" class="font-normal">
        <h2>Steps for conducting the experiment</h2>
    
        <h3>General Instructions</h3>
    
        <p>
            Follow are the steps to be followed in general to perform the experiments in
            <strong>Software Engineering Virtual Lab</strong>.
        </p>
    
        <ol>
            <li>Read the theory about the experiment</li>
            <li>View the simulation provided for a chosen, related problem</li>
            <li>Take the self evaluation to judge your understanding (optional, but recommended)</li>
            <li>Solve the given list of exercises</li>
        </ol>
    
    
    
        <h3>Experiment Specific Instructions</h3>
    
        <p>Following are the instructions specifically for this experiment:</p>
    
        <ol>
    <li>The left hand side of the 'Exercises' page will present the problem</li>
    <li>The right hand side of the page asks to evaluate certain parameters</li>
    <li>The values of the parameters are to be typed in in the adjoining text boxes</li>
    <li>If all the values entered are correct, then the solution is correct. Otherwise user will be indicated where the error has occurred.</li>
    </ol>
    
        <p>&nbsp;</p>
    
    </div>
    </section>
    </div>
    <%- include ('../../partials/footer') %>



    <