<%- include ('../../partials/header') %>

<h1>Using Basic COCOMO model to estimate project parameters</h1>

<p>
Use the simulator on the right hand side to understand how project type and size affects the different parameters estimated.
</p>

<h3>Quick glance at the formulae:</h3>


<ul><li>Effort: a * (Size)b person-month</li>
<li> Time for development: 2.5 * (Effort)c month</li></ul>
    
   
<%- include ('../../partials/footer') %>